## SQLite vs SQLalchemy

| Feature        | SQLite üóÑÔ∏è | SQLAlchemy üõ†Ô∏è |
|---------------|----------|--------------|
| **Definition** | A lightweight, file-based database system. | A Python library that helps working with databases. |
| **Purpose** | Used for local storage and small projects. | Helps interact with databases like SQLite, MySQL, and PostgreSQL. |
| **Usage** | Stores data in a single `.sqlite` or `.db` file. | Manages database connections and queries with Python. |
| **SQL Support** | Uses standard SQL for data manipulation. | Supports both raw SQL and an ORM for easier database interaction. |
| **Scalability** | Best for small-scale apps with minimal users. | Works with multiple databases and scales for large applications. |
| **Concurrency** | Limited support for multiple writers. | Handles multiple connections efficiently. |
| **Dependency** | Built into Python (no installation needed). | Requires installation via `pip install sqlalchemy`. |

### **üîπ Key Takeaways**
- **Use SQLite** for small, single-user projects.  
- **Use SQLAlchemy** for larger applications that need flexibility and ORM support.

## SQLite
is a lightweight, self-contained database that stores data in a single file. It doesn‚Äôt require a server and is great for small applications, testing, and local storage.

In [52]:
import sqlite3

In [ ]:
# Connect to (or create) a database file
connection = sqlite3.connect("my_database.db")

In [54]:
# Create a cursor object to execute SQL commands
cursor = connection.cursor()

In [57]:
# Create a Table
cursor.execute('''
Create Table If Not Exists employees(
    id Integer Primary Key,
    name Text Not Null,
    age Integer,
    department text
    )
''')

# Save the changes
connection.commit()

In [58]:
cursor.execute('''
Select * from employees
''')

In [59]:
# Insert the data in sqlite table
cursor.execute('''
Insert Into employees(name,age,department)
               values('Tajamul',29,'Data Scientist')
''')

cursor.execute('''
INSERT INTO employees (name, age, department)
VALUES ('Bob', 25, 'Engineering')
''')

cursor.execute('''
INSERT INTO employees (name, age, department)
VALUES ('Charlie', 35, 'Finance')
''')

# save the changes
connection.commit()

In [61]:
# Query the data from the table
cursor.execute('Select * from employees')
rows=cursor.fetchall()

# print the queried data
for row in rows:
    print(row)

(1, 'Tajamul', 29, 'Data Scientist')
(2, 'Bob', 25, 'Engineering')
(3, 'Charlie', 35, 'Finance')

In [44]:
## Update the data in the table
cursor.execute('''
UPDATE employees
Set age=34
where name="Krish"
''')

connection.commit()

In [ ]:
# Query the data from the table
cursor.execute('Select * from employees')
rows=cursor.fetchall()

# print the queried data
for row in rows:
    print(row)

(1, 'Krish', 34, 'Data Scientist')
(3, 'Charlie', 35, 'Finance')
(4, 'Krish', 34, 'Data Scientist')
(6, 'Charlie', 35, 'Finance')
(7, 'Krish', 34, 'Data Scientist')
(9, 'Charlie', 35, 'Finance')
(10, 'Krish', 34, 'Data Scientist')
(11, 'Bob', 25, 'Engineering')
(12, 'Charlie', 35, 'Finance')

In [46]:
# Delete the data from the table
cursor.execute('''
Delete from employees
               where name ='Bob'
''')

connection.commit()

In [ ]:
# Query the data from the table
cursor.execute('Select * from employees')
rows=cursor.fetchall()

# print the queried data
for row in rows:
    print(row)

(1, 'Krish', 34, 'Data Scientist')
(3, 'Charlie', 35, 'Finance')
(4, 'Krish', 34, 'Data Scientist')
(6, 'Charlie', 35, 'Finance')
(7, 'Krish', 34, 'Data Scientist')
(9, 'Charlie', 35, 'Finance')
(10, 'Krish', 34, 'Data Scientist')
(12, 'Charlie', 35, 'Finance')

In [68]:
# Working with Sales Data

# Connect to an SQLite database
connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()

# Create a table for sales
cursor.execute('''
CREATE TABLE IF NOT EXISTS sales (
    id INTEGER PRIMARY KEY,
    date TEXT NOT NULL,
    product TEXT NOT NULL,
    sales INTEGER,
    region TEXT
)
''')

# Insert data into the sales table
sales_data = [
    ('2023-01-01', 'Product1', 100, 'North'),
    ('2023-01-02', 'Product2', 200, 'South'),
    ('2023-01-03', 'Product1', 150, 'East'),
    ('2023-01-04', 'Product3', 250, 'West'),
    ('2023-01-05', 'Product2', 300, 'North')
]

cursor.executemany('''
Insert into sales(date,product,sales,region)
                   values(?,?,?,?)
''',sales_data)

connection.commit()

In [69]:
# Query data from the sales table
cursor.execute('SELECT * FROM sales')
rows = cursor.fetchall()

# Print the queried data
for row in rows:
    print(row)

(1, '2023-01-01', 'Product1', 100, 'North')
(2, '2023-01-02', 'Product2', 200, 'South')
(3, '2023-01-03', 'Product1', 150, 'East')
(4, '2023-01-04', 'Product3', 250, 'West')
(5, '2023-01-05', 'Product2', 300, 'North')
(6, '2023-01-01', 'Product1', 100, 'North')
(7, '2023-01-02', 'Product2', 200, 'South')
(8, '2023-01-03', 'Product1', 150, 'East')
(9, '2023-01-04', 'Product3', 250, 'West')
(10, '2023-01-05', 'Product2', 300, 'North')
(11, '2023-01-01', 'Product1', 100, 'North')
(12, '2023-01-02', 'Product2', 200, 'South')
(13, '2023-01-03', 'Product1', 150, 'East')
(14, '2023-01-04', 'Product3', 250, 'West')
(15, '2023-01-05', 'Product2', 300, 'North')
(16, '2023-01-01', 'Product1', 100, 'North')
(17, '2023-01-02', 'Product2', 200, 'South')
(18, '2023-01-03', 'Product1', 150, 'East')
(19, '2023-01-04', 'Product3', 250, 'West')
(20, '2023-01-05', 'Product2', 300, 'North')
(21, '2023-01-01', 'Product1', 100, 'North')
(22, '2023-01-02', 'Product2', 200, 'South')
(23, '2023-01-03', 'Product1', 150, 'East')
(24, '2023-01-04', 'Product3', 250, 'West')
(25, '2023-01-05', 'Product2', 300, 'North')
(26, '2023-01-01', 'Product1', 100, 'North')
(27, '2023-01-02', 'Product2', 200, 'South')
(28, '2023-01-03', 'Product1', 150, 'East')
(29, '2023-01-04', 'Product3', 250, 'West')
(30, '2023-01-05', 'Product2', 300, 'North')

In [70]:
connection.close()

## SQLAlchemy

**SQLAlchemy** is a powerful Python library for working with databases. It provides:  
- ‚úÖ A toolkit for managing database connections  
- ‚úÖ An **Object-Relational Mapper (ORM)** for handling data as Python objects  
- ‚úÖ Support for multiple databases like **SQLite, MySQL, PostgreSQL, and SQL Server*

In [73]:
from sqlalchemy import create_engine, text

# Create a database connection (Replace with actual database URL)
connection = create_engine("sqlite:///my_database.db")

Database connected successfully!